@model IEnumerable<EventGo.Models.Payment>

@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h1>Payments DashBoard</h1>
    <br />

    @* <p>
    <a asp-action="Create">Create New</a>
</p> *@
    <table class="table table-hover table-striped">
        <thead>
            <tr>

                <th>
                    Booking ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.PaymentTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.BookingID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PaymentID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}